extends _shared

block content
  .container
    .page-header
      h3 Profile Info

      form.form-horizontal(action="/profile", method="POST")
            input(type="hidden", name="_csrf", value=_csrf)
            .form-group
              label.col-sm-3.control-label(for="email") Email
              .col-sm-7
                input.form-control(type="email", name="email", id="email", value=user.email)
            .form-group
              label.col-sm-3.control-label(for="name") Name
              .col-sm-7
                input.form-control(type="text", name="name", id="name", value=user.username)
            .form-group
              .col-sm-offset-3.col-sm-4
                button.btn.btn.btn-primary(type="submit")
                  i.fa.fa-pencil
                  | Save changes

    .page-header
      h3 Change your password

    form.form-horizontal(action="/password", method="POST")
        input(type="hidden", name="_csrf", value=_csrf)
        .form-group
          label.col-sm-3.control-label(for="password") New password
          .col-sm-7
            input.form-control(type="password", name="password", id="password")
        .form-group
          label.col-sm-3.control-label(for="confirmPassword") Repeat the password
          .col-sm-7
            input.form-control(type="password", name="confirmPassword", id="confirmPassword")
        .form-group
          .col-sm-offset-3.col-sm-4
            button.btn.btn-primary(type="submit")
              i.fa.fa-lock
              | Save password changes

    .page-header
      h3 Delete account

    form.form-horizontal(action="/delete", method="POST")
      .form-group
        p.col-sm-offset-3.col-sm-4 Your account and personal information will be deleted
        input(type="hidden", name="_csrf", value=_csrf)
        .col-sm-offset-3.col-sm-4
          button.btn.btn-danger(type="submit")
            i.fa.fa-trash
            | Delete account
